body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: rgb(82, 82, 82);
}

.nav-link {
    font-size: 2.2em;
}

.navbar {
    height: 100px;
    justify-content: center;
    box-shadow: 0px 1px 4px 1px rgb(131, 131, 131);
}

.content-title {
    text-decoration: underline;
}

.article-show-content {
    background-color: #fff;
    height: auto;
    padding: 25px;
    font-size: 1.4em;
}

.fa-check {
    font-size: 1.5em;
    color:#39bd4f;
}

.fa-times-circle {
    font-size: 1.5em;
    color:#d00707;
}

.content-header h1 {
    font-size: 2.4rem;
}

.dataTables_length, .dataTables_filter label {
    font-size: 1.8em;
}

.articles_filter label {
    font-size: 1.5em;
}

.dataTables_info {
    font-size: 1.8em;
}

.pagination {
    font-size: 1.6em;
}

.text-info {
    transition: .5s all;
}

.text-info:hover {
    text-decoration: underline;
}

.breadcrumb-item {
    font-size: 1.4em;
}

/************************
    Form elements
***************************/

form {
    font-size: 1.5em;
}

form label{
    font-size: 1.5rem;
}

.form-elem {
    font-size: 1.4em;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

form button {
    width: 130px;
    height: 60px;
}

.btn {
    font-size: 1.4em;
}

/***************
    Table elements
****************/

thead {
    border-bottom: .5px solid rgb(182, 180, 180);
}

th {
    font-size: 2.2em;
}

tbody {
    font-size: 1.8em;
}

tbody tr {
    border-bottom: .5px solid rgb(221, 221, 221);
}